@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --fontFamily: "Roboto", sans-serif;
  --darkBlue: #195db4;
  --lightBlue: #41a3f4;
  --white: #ffffff;
  --fontSize: 16px;
  --transition: .3s ease;
  --text: #444444;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: 1.6;
  color: var(--text);
  font-weight: 300;
}
.container {
  max-width: 920px;
  margin: auto;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  transition: var(--transition);
}
/******************
header
******************/
header {
  height: 55vh;
  position: relative;
}
header::before {
  background: linear-gradient(140deg,var(--darkBlue), var(--lightBlue));
  height: 55vh;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  transform: skew(0deg, 7deg);
  transform-origin: right bottom;
}
header h1 {
  color: var(--white);
  font-weight: 400;
  font-size: 2.5rem;
}
header article a {
  background: var(--white);
  border-radius: 30px;
  padding: 10px 40px;
  margin-top: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--darkBlue);
  box-shadow: 0 4px 4px #195db7;
}
header article a:hover {
  text-decoration: underline;
  background: #f3f3f3;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0 10px;
  align-items: center;
}
header .logo {
  height: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-left: 10px;
  padding: 5px 15px;
}
nav ul li:hover {
  background: rgba(255,255,255,0.2);
  border-radius: 3px;
}
nav ul li:first-child:hover {
  background: transparent;
}
nav ul li:first-child {
  margin-left: 0px;
}
nav ul li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 300;
}
nav div {
  display: flex;
  align-items: center;
}
nav div input {
  margin-left: 15px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  color: #aaa;
  width: 170px;
}
nav div a {
  margin-left: 15px;
  color: var(--white);
  font-size: 1.5rem;
}
header article {
  display: flex;
  align-items: center;
}
header article div {
  flex: 1;
}
/******************
main
******************/
main section img {
  width: 100%;
}
main section article.container div:first-child{
  flex: 0 0 40%;
}
main section article.container div:last-child{
  flex: 0 0 55%;
}
main section:nth-child(even) article div:nth-child(1) {
  order: 1;
}
main section h2 {
  color: var(--lightBlue);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
}
main section p {
  line-height: 2;
}
main section:nth-child(4) {
  border: none;
}
main section {
  border-bottom: 1px solid lightgray;
  margin: auto;
  width: 95%;
}
.try {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 30px auto;
  box-shadow: 0 2px 25px lightgray;
  padding: 40px;
}
.try:hover {
  box-shadow: 0 2px 10px lightgray;
  text-decoration: underline;
}
.try div:first-child {
  flex: 0 0 20%;
}
.try div:last-child {
  flex: 0 0 80%;
}
.try img {
  width: 80%;
}
.try h3 {
  color: var(--lightBlue);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
}
.try p {
  color: var(--text);
  line-height: 2;
}
/******************
footer
******************/
footer {
  background: #1976d2;
  position: relative;
  padding: 80px 0;
  color: var(--white);
}
footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(img/angular_whiteTransparent_withMargin.png) top 0 left 0, url(img/angular_whiteTransparent_withMargin.png) top 80px left 160px;
  opacity: .08;
  background-size: 320px auto;
}
footer .row {
  width: 35%;
  margin: auto;
  line-height: 2.5;
}
footer .row:first-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer a {
  color: var(--white);
}
footer .row:last-child {
  text-align: center;
  margin-top: 35px;
}
footer h4 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
/******************
R E S P O N S I V E
******************/
@media(max-width: 768px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
  .links {
    display: none;
  }
  header article.container div {
    flex: 0 0 100%;
  }
  header {
    height: 90vh;
    text-align: center;
  }
  header::before {
    height: 83vh;
    transform: skew(0deg, 0deg);
  }
  header h1 {
      font-size: 1.5rem;
  }
  .container {
    width: 95%;
    padding: 20px;
  }
  main section article.container div:first-child,
  main section article.container div:last-child {
    flex: 0 0 100%;
  }
  main section:nth-child(even) article div:nth-child(1) {
    order: 0;
  }
  .try {
    width: 90%;
    padding: 20px;
  }
  footer .row {
    width: 70%;
    margin: auto;
    line-height: 2.5;
  }
  footer .row .col {
    flex:  0 0 100%;
    margin-bottom: 30px;
  }
}
